.bg-cover {
  background-image: url("./../../../images/books.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  z-index: 2;
  color: white;
}

.textarea {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  background-color: black;
  color: white;
}

.textarea::placeholder {
  color: gray; /* Placeholder color */
}
